@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');

.contain img{
    height: 20px;
}
.cart{
    color: EF2B02;
    font-family: poppins;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
}
.box{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    background-color: aliceblue;
    margin: 30px auto;
    width: 50rem;
    height: 10rem;
    border: 0px solid;
    
}
.bigbox{
    font-family: poppins;
    display: flex;
    justify-content: center;
    gap: 14rem;
    /* margin-top: 12rem; */
}
.hash{
    color: EF2B02;
}
.bigbox2{
    display: flex;
    justify-content: center ;
    gap: 14rem;
    font-family: poppins;
    margin-top: 1rem;
    
}
.boxer{
    box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
    background-color: aliceblue;
    font-family: poppins;
    width: 50rem;
    height: 10rem;
    /* border: 1px solid black; */
    margin: 30px auto;
}
.hash1{
    color: EF2B02;
}
.secbox{
    gap: 14rem;
    display: flex;
    justify-content: center;
}
.thirdbox2{
    display: flex;
    justify-content: center;
    gap: 13rem;
    margin-top: 1rem;
}
.hash3{
     color: EF2B02;
}
.hash4{
    color: EF2B02;
}
.biggg{
    margin-top: 10rem;
}
.dis{
    justify-content: center;
    display: flex;
    gap: 25rem;
}
.dis2{
    display: flex;
    justify-content: center;
    gap: 25rem;
    margin-top: 2rem;
}
.dis3{
    display: flex;
    justify-content: center;
    gap: 25rem;
    margin-top: 2rem    ;
    color:EF2B02 ;
}
.btn{
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.check{
    width: 15rem;
    height: 2rem;
    border-radius: 5px;
    border: none;
    background-color: 01B883;
}


