@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');

body{
    /* background-image: url(./assets/WhatsApp\ Image\ 2025-11-23\ at\ 22.17.04_cc7f885b.jpg); */
    background-color: aliceblue;
}
.contain img{
    display: flex;
    justify-content: center;
    height: 30px;
}
.check{
    display: flex;
    justify-content: center;
}
.mess{
    display: flex;
    justify-content: center;
    
}
.container{
    font-family: poppins;
    margin: 5rem;

}
.boxes{
    display: flex;
    justify-content: center;
    gap: 5rem;
}
.sub-bo1{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid black;
    
}
.sub-bo2{
      display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid black;

}
.sub-bo3{
      display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid black;

}
.sub-bo4{
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid black;

}
.sub-bo5{
      display: flex;
    justify-content: center;
    border-radius: 1rem;
    width: 2.8rem;
    height: 2.8rem;
    border: 1px solid black;
    /* margin-top: ; */

}
.ema{
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}
.btn{
    
    background-color: 01B883;
    width: 15rem;
    height: 25px;
    border: none;
    font-family: poppins;
    color: white;
    border-radius: 10px;
}
.both{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.one{
    font-weight: 300;
}
.two{
    color: green;
    font-weight: 300;

}