@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');

.contain img{
    height: 20px;
}
.his{
    color: #e53935;
    font-family: poppins;
    font-size: 25px;
    text-align: center;
    font-weight: 500;

}


.order-card {
  margin: 30px auto; 
  width: 330px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.1);
  font-family: sans-serif;
}

.order-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-top h3 {
  font-size: 18px;
  margin: 0;
  font-weight: 600;
}

.time {
  font-size: 13px;
  color: #555;
}

.items {
  color: #444;
  margin: 8px 0 18px;
}

.order-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.total-text {
  color: #e53935;
}

.price {
  color: #e53935;
}
.over-btn{
    display: flex;
    justify-content: end;
    
}

.reorder-btn {
  background: #ff3d00;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 15px;
  cursor: pointer;
  font-weight: 600;
  /* display: flex; */
  /* justify-content: center; */
}