@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');
.body{
    display: flex;
    justify-content: center;
}
.foodie{
    color: red;
    font-family: poppins;
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}
.log {
    margin: 30px auto;
    display: flex;
    justify-content: center;
    font-family: poppins;
}
.txt1{
    border: 2px solid green;
    border-radius: 10px;
    width: 15rem;
    height: 2rem;
}
.txt2{
    border: 2px solid green;
    border-radius: 10px;
    width: 15rem;
    height: 2rem;
    
}
.sec{
    margin-top: 1rem;
}
.forg a{
    text-decoration: none;
}
.for{
    font-family: poppins;
    font-size: 10px;
    margin-top: -3rem;
    margin-left: 10rem;
    display: flex;
    justify-content: center;
    color: black;
}
.login{
    /* border: 1px solid green; */
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
}
.logi{
    font-family: poppins;
    height: 2rem;
    width: 15rem;
    background-color: rgba(0, 128, 0, 0.785);
    border: none;
    border-radius: 10px;
    color: white;
}
.span{
    font-family: poppins;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin-top: 1rem;
}
.sig{
    color: red;
}
.span a{
    text-decoration: none;

}