@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');
.container{
    display: flex;
    justify-content: center;
    margin-top: 13rem;
}
.circle{
    width: 10rem;
    height: 10rem;
    border: 1px solid;
    border-radius: 100rem;
    background-color: red;
    color: white;
    display: flex;
    justify-content: center;
    text-decoration: none;
    
}
.circle a{
    text-decoration: none;
}
.food{
    font-family: poppins;
    font-size: 22px;
    /* font-weight: 400; */
    margin-top: 4rem;
    color: white;
    text-decoration: none;
}
