@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');

.container3{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container3 img{
    height: 23rem;
    margin-top: 10rem;
}
.div{
    display: flex;
    justify-content: center;
}
.btn{
    width: 10rem;
    background-color: D92500;
    font-family: poppins;
    color: white;
    border: none;
    height: 25px;
    border-radius: 10px;

}