@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');
body{
    background-color: aliceblue;
    /* background-color: blue; */
}
.contain img{
    height: 20px;
}
.contain2{
    display: flex;
    justify-content: center;
    /* margin: ; */
}
.contain2 img{
    height: 50vh;
    /* width: 100px; */
}
.food{
    font-family: poppins;
    color: rgba(0, 0, 0, 0.79);
    font-weight: 400;
    display: flex;
    justify-content: center;
}
.soup{
    display: flex;
    justify-content: center;
    color: red;
    margin-top: 1rem;
    gap:2px;
    font-family: poppins;
    font-size: 13px;
}
.soup2{
    color: black;
}
.art{
    display: flex;
    justify-content: center;
    /* margin-bottom: 2rem; */
    font-family: poppins;
    font-size: 12px;
}
.flex{
    display: flex;
    justify-content: center;
    gap: 10rem;

}
.star{
    color: red;
    font-size: 30px;

}
.star2{
    color: gray;
}
.smallbox1{
    width: 2.5rem;
    height: 1.2rem;
    border-radius: 10px 3 ;
    border: 1px solid black;
    background-color: black;
}
.bus1{
    display: flex;
    color: white;
    font-family: poppins;
    font-size: 12px;
    justify-content: center;
}
.des{
    display: flex;
    justify-content: center;
    font-family: poppins;
    color: 01B883;
    font-size: 15px;
    margin-right: 11rem;
}
.mix{
    /* margin-bottom: 30rem; */
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-size: 14px;
    margin-top: -25px;
}
.smallbox2{
    display: flex;
    justify-content: center;
    margin-left: 13rem;
}
.bus2{
    border: 1px solid black;
    border-radius: 1px;
    height: 2em;
    font-family: poppins;
    font-size: 14px;
    display: flex;
    width: 3.5rem;
    background-color: black;
    color: white;
    justify-content: center;
}
.extras-container {
    background: aliceblue;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.extras-title {
    font-weight: 700;
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 5px 12px;
    border-radius: 5px;
    margin-bottom: 15px;
}

.input-group {
    margin-bottom: 18px;
}

.input-group label {
    font-size: 15px;
    font-weight: 600;
    color: #333;
    margin-bottom: 5px;
    display: block;
}

.select-box {
    position: relative;
    width: 100%;
}

.select-box select {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    background: #fff;
    appearance: none;
    font-size: 15px;
    font-weight: 500;
    /* color: #999; */
}

.select-box .arrow {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 14px;
    pointer-events: none;
    color: #555;
}
.button{
    display: flex;
    justify-content: center;
}
.btn{
    width: 180px;
    height: 30px;
    background-color: 01B883;
    color: white;
    font-family: poppins;
    border-radius: 10px;
    border: none;
}