@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Train+One&family=Whisper&display=swap');

.contain img{
    height: 30px;
}
.container img{
    display: flex;
    justify-content: center;
    margin: 30px auto;
}
.succ{
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-weight: 400;

}
.pace{
    display: flex;
    justify-content: center;
    font-family: poppins;
    font-size: 14px;
    font-weight: 300;
    /* text-align: center; */
}
.btn4{
    display: flex;
    justify-content: center;

}
.log{
    width: 10rem;
    height: 1.99rem;
    font-family: poppins;
    font-weight: 400;
    background-color: rgba(0, 128, 98, 0.844);
    border: 1px solid black;
}